.homeThreeColumns {
    display: flex;
    justify-content: space-around;
    background-image: url("../assets/3\ Columns\ Background.png");

    .column {
        margin: 46px 0 85px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 334px;

        &__number {
            font-size: 90px;
            font-weight: 300;
            line-height: 122px;
            color: $color-one;
        }

        &__title {
            font-size: 18px;
            line-height: 30px;
            margin: 10px 0 20px;
        }

        &__text {
            font-family: $font-alt;
            font-size: 16px;
            font-weight: 300;
            line-height: 18px;
            text-align: center;
        }
    }
}